@font-face {
    font-family: 'Triton';
    src: url('https://netmoviestvshows.github.io/movie/font/Triton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
      @font-face {
    font-family: 'DigitalNumbers';
    src: url('https://netmoviestvshows.github.io/movie/font/DigitalNumbers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AdvancedLEDBoard';
    src: url('https://netmoviestvshows.github.io/movie/font/advanced_led_board-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NFLPackers';
    src: url('https://netmoviestvshows.github.io/movie/font/NFL%20Packers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NFLAFC';
    src: url('https://netmoviestvshows.github.io/movie/font/NFL%20AFC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NFLJaguars';
    src: url('https://netmoviestvshows.github.io/movie/font/NFL%20Jaguars.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

      body {
        font-family: "Montserrat", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        color:#6a6a6b;
        padding: 0;
      }
      h1 {
        text-align: center;
      }
      .time-to-watch {
        cursor: pointer;
        width: 17.5%;
        text-align: end;
      }
      .match {
        position: relative;
        /*background: #fff;*/
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .match::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        filter: blur(8px);
        opacity: 0.5;
        z-index: 1;
      }

      .match-header, .match-content {
        position: relative;
        z-index: 2;
      }
      .match-header, .match-content {
        /*color: rgb(12, 12, 12);*/
      }
      .match-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .match-status {
        width: 17.5%;
        font-size: 12px;
        font-weight: bold;
        color: green; /* Warna untuk status Live */
      }
      .match-tournament {
        text-transform: capitalize;
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
      }
      .match-tournament img {
        width: 20px; /* Ukuran logo turnamen */
        height: 20px;
        margin-right: 5px;
      }
      .match-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .match-stadium {
        font-size: 12px;
        color: #808080c2;
        text-align: center;
      }
      .column {
        flex: 1;
        text-align: center;
      }
      .team-name {
        margin-bottom: 5px;
      }
      .team-logo img {
        width: 40px; /* Ukuran logo tim */
        height: auto;
        border-radius: 100%;
      }
      .match-details {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .match-score {
        font-family: 'Triton', sans-serif;
        font-size: 20px; /* Ukuran skor */
        /* font-weight: bold; */
      }
      .match-date {
        font-size: 13px;
        padding: 4px;
        color: #218285;
      }
      .match-time-lapsed {
        font-size: 14px;
        color: rgb(255 167 0);
        font-weight: 600;
      }

      .ic--baseline-live-tv {
        color: red;
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21 6h-7.59l3.29-3.29L16 2l-4 4l-4-4l-.71.71L10.59 6H3a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8a2 2 0 0 0-2-2m0 14H3V8h18zM9 10v8l7-4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.nrk--media-direkte-golive {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23ed002f'%3E%3Cpath fill-rule='evenodd' d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m12-10c0 6.627-5.373 12-12 12S0 18.627 0 12S5.373 0 12 0s12 5.373 12 12' clip-rule='evenodd' opacity='0.1'/%3E%3Cpath d='M12 17a5 5 0 1 0 0-10a5 5 0 0 0 0 10'/%3E%3C/g%3E%3C/svg%3E");
}

      .fluent-emoji--basketball {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23f105id0)' d='M16.094 30c7.732 0 14-6.268 14-14s-6.268-14-14-14s-14 6.268-14 14s6.268 14 14 14'/%3E%3Cpath fill='url(%23f105id1)' d='M16.094 30c7.732 0 14-6.268 14-14s-6.268-14-14-14s-14 6.268-14 14s6.268 14 14 14'/%3E%3Cpath fill='url(%23f105id2)' d='M16.094 30c7.732 0 14-6.268 14-14s-6.268-14-14-14s-14 6.268-14 14s6.268 14 14 14'/%3E%3Cpath fill='url(%23f105id3)' d='M16.094 30c7.732 0 14-6.268 14-14s-6.268-14-14-14s-14 6.268-14 14s6.268 14 14 14'/%3E%3Cg filter='url(%23f105id4)'%3E%3Cpath fill='%234d3a45' d='M2.123 15.09a14 14 0 0 0-.028 1.089a18 18 0 0 0 1.028-.436c1.097-.504 2.531-1.292 3.858-2.425c.97-.828 1.89-1.846 2.576-3.079q1.2.627 2.292 1.294a24.6 24.6 0 0 0-4.094 6.781a23.8 23.8 0 0 0-1.596 6.513q-.05.527-.07.965q.466.477.977.909a18 18 0 0 1 .088-1.778c.153-1.587.55-3.79 1.53-6.237a23.6 23.6 0 0 1 4.022-6.616a38 38 0 0 1 2.933 2.093a11.2 11.2 0 0 0-1.615 2.359c-2.154 4.196-1.851 9.82 1.266 13.455a14 14 0 0 0 1.388.011c-3.381-3.218-3.91-8.833-1.764-13.01c.407-.793.909-1.53 1.503-2.185a36.6 36.6 0 0 1 4.977 5.023a33 33 0 0 1 3.686 5.556q.275.528.472.95q.39-.357.753-.744a28 28 0 0 0-.338-.669a34 34 0 0 0-3.798-5.725c-1.34-1.645-3-3.394-5.038-5.097a8.95 8.95 0 0 1 3.344-1.875c2.437-.746 5.555-.61 9.34.992a14 14 0 0 0-.3-1.2c-3.65-1.41-6.78-1.53-9.333-.748a9.95 9.95 0 0 0-3.835 2.192a39 39 0 0 0-2.968-2.133c2.405-2.587 5.72-5.074 10.293-7.089a14 14 0 0 0-1.06-.619c-4.444 2.054-7.704 4.558-10.092 7.164q-1.2-.739-2.522-1.43q.116-.273.216-.558c.56-1.594.715-3.453.231-5.597q-.473.21-.926.45c.383 1.874.225 3.467-.248 4.816a8 8 0 0 1-.168.436A44 44 0 0 0 5.2 7.206q-.327.406-.625.835a43 43 0 0 1 4.09 1.746c-.615 1.091-1.44 2.008-2.333 2.77c-1.236 1.055-2.583 1.798-3.627 2.278q-.312.143-.582.255'/%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='f105id0' cx='0' cy='0' r='1' gradientTransform='rotate(138.691 10.149 9.741)scale(18.6789)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ffa167'/%3E%3Cstop offset='.554' stop-color='%23ff7d31'/%3E%3Cstop offset='1' stop-color='%23ec5b36'/%3E%3C/radialGradient%3E%3CradialGradient id='f105id1' cx='0' cy='0' r='1' gradientTransform='matrix(-3.18874 19.1331 -25.23198 -4.20518 18.462 12.06)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.466' stop-color='%23d73853' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23d73853'/%3E%3Cstop offset='1' stop-color='%23d75b8f'/%3E%3C/radialGradient%3E%3CradialGradient id='f105id2' cx='0' cy='0' r='1' gradientTransform='rotate(90 2.47 13.623)scale(18.8474)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.895' stop-color='%23d85c90' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23d85c90'/%3E%3C/radialGradient%3E%3CradialGradient id='f105id3' cx='0' cy='0' r='1' gradientTransform='rotate(-144.333 11.832 6.25)scale(16.7523 19.7036)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.858' stop-color='%23e07162' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23e07162'/%3E%3C/radialGradient%3E%3Cfilter id='f105id4' width='27.721' height='27.014' x='2.094' y='3.086' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='.2'/%3E%3CfeGaussianBlur stdDeviation='.05'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 0.266667 0 0 0 0 0.172549 0 0 0 0 0.25098 0 0 0 1 0'/%3E%3CfeBlend in2='shape' result='effect1_innerShadow_18_2214'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='-.2'/%3E%3CfeGaussianBlur stdDeviation='.05'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 0.356863 0 0 0 0 0.294118 0 0 0 0 0.305882 0 0 0 1 0'/%3E%3CfeBlend in2='effect1_innerShadow_18_2214' result='effect2_innerShadow_18_2214'/%3E%3C/filter%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
      }

      .cards-wrapper {
        position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
      }

      .cards-container {
        display: flex;
      }

      .card-info {
        font-family: monospace;
        text-shadow: 0 0 1px #ffffff;
        font-size: 11px;
        margin: 5px 2px;
        padding: 1px 3px;
        border-radius: 2px;
        color: #353535;
        text-align: center;
        line-height: 12px;
      }

      .card-red {
        background-color: red; /* Warna untuk kartu merah */
      }

      .card-yellow {
        background-color: gold; /* Warna untuk kartu kuning */
      }

      .minutes {
        color: grey;
        font-weight: 500;
      }
      .status-finished {
        color: grey;
      }

      .status-not-started {
        color: green;
      }

      .status-half-time, .status-extra-time {
        color: orange;
      }

      .status-live {
        display: flex;
        color: red;
        align-items: center;
      }
      .status-postponed {
        color: rgb(169 82 39);
      }
      .status-penalty {
        color: rgb(255, 115, 0);
      }

      .team-logo img.match-type-99 {
        /* Gaya khusus untuk gambar tim dengan matchType 99 */
        border-radius: 50%;
      }

      .icon-grey {
        color: #808080c2; /* Mengubah warna ikon menjadi abu-abu */
      }
      
      @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }

      .blink {
        animation: blink 2s infinite; /* Durasi 2 detik, berulang terus menerus */
        margin-left: 5px;
      }

      /* CSS untuk navtab */
      .tab-container {
        width: 100%;
        margin: 20px 0;
      }

      .tab-nav {
        display: flex;
        /*background: #fff;*/
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .tab-btn {
        flex: 1;
        padding: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        transition: all 0.3s ease;
      }

      .tab-btn.active {
        color: #218285;
        border-bottom: 3px solid #218285;
      }

      .tab-content {
        display: none;
      }

      .tab-content.active {
        display: block;
      }
      
      @media (max-width: 633px) {
      .tab-btn {
        padding: 5px;
        font-size: 13px;
    }
  }
